.banner {
  width: 100%;
  height: 250px;
  margin: 0px auto;
  text-align: center;
  background-image: url("/landing/images/1200x680_good_place044_0.jpg");
  padding: 10px;
}

.banner h1 {
  color: rgb(23, 23, 86);
}

.banner h2 {
  color: white;
}

a {
  background-color: white;
  color: rgb(23, 23, 86);
  border-radius: 16px;
  padding: 16px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
